* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-image: "back.jpg";
  background-repeat: no-repeat;
  background-size: auto;
}
