main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 60vh;
  margin-top: 9%;
}

form {
  display: flex;
  flex-direction: column;
}

div {
  word-spacing: 20px;
  margin-bottom: 20px;
}

input {
  width: 250px;
  height: 58px;
  border-radius: 12px;
  border: solid;
  text-align: center;
}

h1 {
  font-size: 43px;
  word-spacing: 5px;
}

a {
  font-size: 17px;
  margin-top: 12px;
  margin-bottom: 15px;
}

.sub {
  width: 100%;
  margin-bottom: 20px;
}

.account {
  width: 100%;
  border-radius: 10px;
  height: 58px;
  background: rgb(44, 98, 199);
  border: transparent;
}
