nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 40px 0 40px;
}

#login {
  width: 130px;
  height: 43px;
  background: transparent;
  border-color: white;
  border: solid;
}

h2 {
  font-size: 65px;
  letter-spacing: 3px;
}
